<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hello World</title>
</head>
<header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">学生ページ</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="/">TOP</a>
        <a class="nav-link fw-bold py-1 px-0 active" href="/setstu/">学生登録</a>
        <a class="nav-link fw-bold py-1 px-0" href="/studentlist/">学生一覧</a>
      </nav>
    </div>
  </header>
<body>
	
 
</body>
</html>